/* imports ================================================== */
/* normalize ------------------------------------------------ */
@import url("./normalize/index.css");
/* constants ------------------------------------------------ */
@import url("./constants/colors.css");
/* d */
@import url("./icons/icon_1/index.css");

/* main ===================================================== */
html {
    height: 100%;
}
body {

    font-size: 16px;
    color: var(--text-color);

    height: 100%;

}