/* form ===================================================== */
.form {
    margin: 25px 0 10px;
}

/* submit element in form =================================== */
.form *:not([class])[type="submit"] {

    box-sizing: border-box;
    padding: 15px 50px;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;

    background-color: var(--active-color);
    color: var(--text-color);
    border-radius: 15px;

    outline: none;
    border: none;

    transition: background-color .3s linear;

    cursor: pointer;

}
.form *:not([class])[type="submit"]:hover {
    background-color: var(--additional-back-color);
}