/* form ===================================================== */
.form {
    margin: 25px 0;
}

/* input form without class attribute ======================= */
.form * {
    border-radius: 15px;
}

/* submit element in form =================================== */
.form *:not([class])[type="submit"] {

    box-sizing: border-box;
    padding: 15px 40px;
    margin-top: 5px;

    background-color: var(--additional-back-color);
    color: var(--active-color);

    outline: none;
    border: none;

    transition: background-color .3s linear;

    cursor: pointer;

}
.form *:not([class])[type="submit"]:hover {

    background-color: var(--active-color);
    color: var(--additional-back-color);

}

/* label inputs in form ==================================== */
.form label {
    margin: 10px 0;
}