/* nav button =============================================== */
.button {

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--additional-back-color);

    color: var(--text-color);
    text-decoration: none;
    text-align: center;

    box-sizing: border-box;
    padding: 14px 30px;

    border-radius: 14px;
    border: 1px solid transparent;

    cursor: pointer;

    transition: border-color .3s linear;


}

/* active =================================================== */
.active,
.button:hover {
    border-color: var(--spec-back-color);
}

/* after nav button ========================================= */
.button > span {
    color: var(--active-color);

    font-size: 1.2em;
    margin-left: 10px;
}

.button:hover > span,
.active > span {
    color: var(--additional-back-color);
}
