/* header =================================================== */
.header {

    display: flex;
    align-items: center;

    justify-content: space-between;

    box-sizing: border-box;
    padding: 80px 0 30px;

    gap: 30px;

}

/* title ==================================================== */
.title {

    font-size: 2em;
    color: var(--main-title-color);

    margin: 0;

}

/* button container for childrens =========================== */
.button_container {
    
    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100%;

}