.text_about_us {

    font-size: 1em;
    text-indent: 2em;

    line-height: 2em;
    text-align: justify;

    color: var(--main-text-color);

    margin: .5em 0;
    
}

.title_about_us {

    font-size: 1.5em;
    font-weight: 600;
    text-indent: 1.29em;

    margin: 1em 0;

    color: var(--main-title-color);

}